 html {
    background-color: #fff9f9
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: inherit;
    list-style: none;
    outline: none
  }

.header {
    padding: 16px 0;
    background-color: #fff2f2;
    box-shadow: 0px 4px 20px rgba(13, 45, 114, .1)
}

.header_about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
}

@media(max-width: 1260px) {
  .header_about {
    gap: 20px;
    padding: 0 16px;
  }
}

@media(max-width: 927px) {
    .header_about {
      gap: 10px;
      padding: 0 10px;
    }
  }

@media(max-width: 927px) {
  .header_about_menu {
    margin-right: 116px;
    display: none;
  }
}


.header__navigation__drop-down {
    position: absolute;
    display: none;
    width: max-content;
    padding: 12px 24px;
    background: #fff;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, .3);
    border-radius: 5px;
    z-index: 3;
    overflow: hidden;
  }
  
  .header__navigation__drop-down li a {
    font-weight: 600;
    font-size: 14px;
    animation: showLink .5s forwards;
    opacity: 0;
    transform: translateX(50px)
  }
  
  .header__navigation__drop-down ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  @keyframes showLink {
    100% {
      opacity: 1;
      transform: translateX(0)
    }
  }

  .header__navigation__drop-down li a:hover {
    color: #7d2020
  }
  
  .header__navigation__drop-down li:nth-child(1) a {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    animation: showLink .5s forwards .03s;
    opacity: 0;
    transform: translateX(100px);
    transition: .5s
  }
  
  .header__navigation__drop-down li:nth-child(1) a:hover {
    color: #d33333
  }
  
  .header__navigation__drop-down li:nth-child(2) a {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    animation: showLink .5s forwards .06s;
    opacity: 0;
    transform: translateX(100px);
    transition: .5s
  }
  
  .header__navigation__drop-down li:nth-child(2) a:hover {
    color: #d33333
  }
  
  .header__navigation__drop-down li:nth-child(3) a {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    animation: showLink .5s forwards .09s;
    opacity: 0;
    transform: translateX(100px);
    transition: .5s
  }
  
  .header__navigation__drop-down li:nth-child(3) a:hover {
    color: #d33333
  }
  
  .header__navigation__drop-down li:nth-child(4) a {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    animation: showLink .5s forwards .12s;
    opacity: 0;
    transform: translateX(100px);
    transition: .5s
  }
  
  .header__navigation__drop-down li:nth-child(4) a:hover {
    color: #d33333
  }
  
  .header__navigation__drop-down li:nth-child(5) a {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    animation: showLink .5s forwards .15s;
    opacity: 0;
    transform: translateX(100px);
    transition: .5s
  }
  
  .header__navigation__drop-down li:nth-child(5) a:hover {
    color: #d33333
  }
  
  .header__navigation__drop-down li:nth-child(6) a {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    animation: showLink .5s forwards .18s;
    opacity: 0;
    transform: translateX(100px);
    transition: .5s
  }
  
  .header__navigation__drop-down li:nth-child(6) a:hover {
    color: #d33333
  }
  
  .header__navigation__drop-down li:nth-child(7) a {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    animation: showLink .5s forwards .21s;
    opacity: 0;
    transform: translateX(100px);
    transition: .5s
  }
  
  .header__navigation__drop-down li:nth-child(7) a:hover {
    color: #d33333
  }
  
  .header__navigation__drop-down li:nth-child(8) a {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    animation: showLink .5s forwards .24s;
    opacity: 0;
    transform: translateX(100px);
    transition: .5s
  }
  
  .header__navigation__drop-down li:nth-child(8) a:hover {
    color: #d33333
  }
  
  .header__navigation__drop-down li:nth-child(9) a {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    animation: showLink .5s forwards .27s;
    opacity: 0;
    transform: translateX(100px);
    transition: .5s
  }
  
  .header__navigation__drop-down li:nth-child(9) a:hover {
    color: #d33333
  }
  
  .header__navigation__drop-down li:nth-child(10) a {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    animation: showLink .5s forwards .3s;
    opacity: 0;
    transform: translateX(100px);
    transition: .5s
  }
  
  .header__navigation__drop-down li:nth-child(10) a:hover {
    color: #d33333
  }
  
  .header__navigation__drop-down li:nth-child(11) a {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    animation: showLink .5s forwards .33s;
    opacity: 0;
    transform: translateX(100px);
    transition: .5s
  }
  
  .header__navigation__drop-down li:nth-child(11) a:hover {
    color: #d33333
  }
  
  .header__navigation__drop-down li:nth-child(12) a {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    animation: showLink .5s forwards .36s;
    opacity: 0;
    transform: translateX(100px);
    transition: .5s
  }
  
  .header__navigation__drop-down li:nth-child(12) a:hover {
    color: #d33333
  }
  
  .header__navigation__drop-down li:nth-child(13) a {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    animation: showLink .5s forwards .39s;
    opacity: 0;
    transform: translateX(100px);
    transition: .5s
  }
  
  .header__navigation__drop-down li:nth-child(13) a:hover {
    color: #d33333
  }
  
  .header__navigation__drop-down li:nth-child(14) a {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    animation: showLink .5s forwards .42s;
    opacity: 0;
    transform: translateX(100px);
    transition: .5s
  }
  
  .header__navigation__drop-down li:nth-child(14) a:hover {
    color: #d33333
  }
  
  .header__navigation__drop-down li:nth-child(15) a {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    animation: showLink .5s forwards .45s;
    opacity: 0;
    transform: translateX(100px);
    transition: .5s
  }
  
  .header__navigation__drop-down li:nth-child(15) a:hover {
    color: #d33333
  }
  
  .header__navigation>ul {
    display: flex;
    align-items: center;
    gap: 68px;
    height: 100%
  }
  
  @media(max-width: 1280px) {
    .header__navigation>ul {
      gap: 20px;
      justify-content: space-between
    }
  }
  
  .header__navigation>ul li {
    position: relative
  }
  
  .header__navigation a {
    display: block;
    padding: 12px 0;
    font-weight: 600;
    line-height: 20px;
  }
  
  .header__navigation a:hover {
    color: #d33333;
  }
  
  .header__navigation-item:hover .header__navigation__drop-down {
    display: block;
  }

.logo {
height: 51px;
margin-right: 50px;
}

.header_about_menu {
    margin-right: 116px;
}

.header_about_menu ul {
 display: flex;
 gap: 50px;
 justify-content: center;
 list-style-type: none;
}

.header_about_menu a {
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
}

.header__navigation {
    margin-right: 100px;
  }
  
  @media(max-width: 1280px) {
    .header__navigation {
      margin-right: 0;
    }
  }
  
  @media(max-width: 927px) {
    .header__navigation {
      display: none;
    }
  }

.search {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border: 1px solid #333333;
    border-radius: 5px;
}

.search input {
    background: transparent;
    border: none;
    outline: none;
    width: 154px;
}

.search input:focus::placeholder {
    color: rgba(0, 0, 0, 0);
}

.header_about_language {
    display: flex;
    gap: 10px;
    font-weight: 600;
}

.header_about_language a {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
}

.header_about_language a.active {
    color: #D33333;
}

.header__burger-menu {
  width: 22px
}

@media(min-width: 927px) {
  .header__burger-menu {
    display: none
  }
}


.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  display: none;
  height: 100vh;
  width: 80%;
  z-index: 2
}

.mobile-menu.active {
  display: block;
  animation: showMenu .6s forwards
}

@keyframes showMenu {
  100% {
    left: 0%
  }
}

.mobile-menu.disActive {
  animation: hideMenu .6s forwards
}

@keyframes hideMenu {
  0% {
    left: 0
  }

  100% {
    left: -100%
  }
}

.mobile-menu__content {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  background-color: #fff;
  padding-top: 50px
}

.mobile-menu__arrow {
  width: 20px;
  height: 20px
}

.mobile-menu__link-wrap {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 16px
}

.mobile-menu__link-wrap img {
  transition: .3s
}

.mobile-menu__link-wrap.active img {
  transform: rotate(90deg)
}

.mobile-menu__navigation {
  position: relative;
  width: 76%;
  overflow: auto;
  left: 40px;
  top: 30px;
}

.mobile-menu__navigation ul {
  width: 100%
}

.mobile-menu__navigation ul:last-child() {
  padding-bottom: 80px
}

.mobile-menu__navigation .mobile-menu__language {
  position: fixed;
  width: 79%;
  bottom: 0;
  padding: 20px 16px;
  background-color: #fff
}

.mobile-menu__main-menu:last-child {
  padding-bottom: 40px
}

.mobile-menu__link {
  display: block;
  font-weight: 600;
  line-height: 20px;
  padding: 8px 0
}

.mobile-menu__link:active {
  color: #d33333
}

.mobile-menu__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px
}

.mobile-menu__sub-menu {
  display: none;
  padding: 16px 0 16px 40px;
  background-color: rgba(245, 245, 245, .851)
}

.mobile-menu__sub-menu a {
  display: block;
  width: 100%;
  padding: 8px 0;
  font-size: 18px
}

.mobile-menu__sub-menu li:nth-child(1) {
  animation: showLink .5s forwards .03s;
  opacity: 0;
  transform: translateX(100px);
  transition: .5s
}

.mobile-menu__sub-menu li:nth-child(2) {
  animation: showLink .5s forwards .06s;
  opacity: 0;
  transform: translateX(100px);
  transition: .5s
}

.mobile-menu__sub-menu li:nth-child(3) {
  animation: showLink .5s forwards .09s;
  opacity: 0;
  transform: translateX(100px);
  transition: .5s
}

.mobile-menu__sub-menu li:nth-child(4) {
  animation: showLink .5s forwards .12s;
  opacity: 0;
  transform: translateX(100px);
  transition: .5s
}

.mobile-menu__sub-menu li:nth-child(5) {
  animation: showLink .5s forwards .15s;
  opacity: 0;
  transform: translateX(100px);
  transition: .5s
}

.mobile-menu__sub-menu li:nth-child(6) {
  animation: showLink .5s forwards .18s;
  opacity: 0;
  transform: translateX(100px);
  transition: .5s
}

.mobile-menu__sub-menu li:nth-child(7) {
  animation: showLink .5s forwards .21s;
  opacity: 0;
  transform: translateX(100px);
  transition: .5s
}

.mobile-menu__sub-menu li:nth-child(8) {
  animation: showLink .5s forwards .24s;
  opacity: 0;
  transform: translateX(100px);
  transition: .5s
}

.mobile-menu__sub-menu li:nth-child(9) {
  animation: showLink .5s forwards .27s;
  opacity: 0;
  transform: translateX(100px);
  transition: .5s
}

.mobile-menu__sub-menu li:nth-child(10) {
  animation: showLink .5s forwards .3s;
  opacity: 0;
  transform: translateX(100px);
  transition: .5s
}

.mobile-menu__sub-menu li:nth-child(11) {
  animation: showLink .5s forwards .33s;
  opacity: 0;
  transform: translateX(100px);
  transition: .5s
}

.mobile-menu__sub-menu li:nth-child(12) {
  animation: showLink .5s forwards .36s;
  opacity: 0;
  transform: translateX(100px);
  transition: .5s
}

.mobile-menu__sub-menu li:nth-child(13) {
  animation: showLink .5s forwards .39s;
  opacity: 0;
  transform: translateX(100px);
  transition: .5s
}

.mobile-menu__sub-menu li:nth-child(14) {
  animation: showLink .5s forwards .42s;
  opacity: 0;
  transform: translateX(100px);
  transition: .5s
}

.mobile-menu__sub-menu li:nth-child(15) {
  animation: showLink .5s forwards .45s;
  opacity: 0;
  transform: translateX(100px);
  transition: .5s
}

.mobile-bcg {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  z-index: 2
}

.mobile-bcg.active {
  display: block
}

/**********Slider***************/

.slider_block {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(136deg, rgb(224,195,252) 0%, rgb(142,197,252) 100%);
}

.wrapper{
  position: relative;
  height: 665px;
}

@media(max-width: 1280px) {
  .slider_block {
    padding-left: 16px;
    padding-right: 16px
  }
}

.wrapper .img{
  position: absolute;
  width: 75%;
  height: 100%;
}
.wrapper .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  clip-path: circle(0% at 0% 100%);
  transition: all 0.7s;
}
#one:checked ~ .img-1 img{
  clip-path: circle(150% at 0% 100%);
}
#two:checked ~ .img-1 img,
#two:checked ~ .img-2 img{
  clip-path: circle(150% at 0% 100%);
}
#three:checked ~ .img-1 img,
#three:checked ~ .img-2 img,
#three:checked ~ .img-3 img{
  clip-path: circle(150% at 0% 100%);
}
#four:checked ~ .img-1 img,
#four:checked ~ .img-2 img,
#four:checked ~ .img-3 img,
#four:checked ~ .img-4 img{
  clip-path: circle(150% at 0% 100%);
}
#five:checked ~ .img-1 img,
#five:checked ~ .img-2 img,
#five:checked ~ .img-3 img,
#five:checked ~ .img-4 img,
#five:checked ~ .img-5 img{
  clip-path: circle(150% at 0% 100%);
}
.wrapper .sliders{
  position: absolute;
  bottom: 20px;
  left: 88%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
}
.wrapper .sliders label{
  border: 2px solid #DBD2CD;
  background: #DBD2CD;
  width: 13px;
  height: 13px;
  margin: 0 3px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
#one:checked ~ .sliders label.one,
#two:checked ~ .sliders label.two,
#three:checked ~ .sliders label.three,
#four:checked ~ .sliders label.four,
#five:checked ~ .sliders label.five{
  width: 35px;
  border-radius: 14px;
  background: #7D2020;
}
.sliders label:hover{
  background: #DBD2CD;
}
input[type="radio"]{
  display: none;
}
/***********Slider*************/

.img-5 a {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  padding: 16px 58px;
  background: #7D2020;
  color: white;
  width: 221px;
  height: 50px;
}


.slider_vernadskiy_blockquote {
  position: absolute;
  left: 77%;
  top: 33%;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #7D2020;
}


.slider_vernadskiy_wrap {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
}

.slider {
    margin-top: 100px;
    height: calc(100vh - 88px);
}

.slider__img-block {
    position: relative;
}

.slider__img-block img {
    object-fit: cover;
    height: 100%;
    width: 100%;
 }

.slider__img-block span {
    position: absolute;
    right: 0;
    bottom: 5px;
    display: block;
    padding: 16px 58px;
    background: #7D2020;
    color: white;
}

.slider_vernadskiy_spase {
  display: flex;
}

.slider_vernadskiy_data {
  height: 56px;
  width: 191px;
  background: #7D2020;
}

.slider_vernadskiy_spase_gray {
    width: 100%;
    height: 56px;
    right: 0px;
    bottom: 2308px;
    background: #C3C8DA;
}

.projects_block {
  margin-top: 134px;
}

.vernadskiy_data {
    width: 181px;
    height: 42px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    background-color: #7D2020;
    padding: 14px 12px 42px 12px;
}

.vernadskiy_data_block {
    position: absolute;
    width: 1259px;
    height: 56px;
    right: 0px;
    bottom: 2308px;
    background: #C3C8DA;
    border-bottom: solid 1px #7D2020;
}

.title_projects_container {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #7D2020;
}

.projects_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

@media (max-width: 1280px) {
  .projects_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
}

.projects_container_card:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #C3C8DA;
    box-shadow: 0px 4px 7px rgba(62, 62, 62, 0.04), 0px 12px 32px #F3F3F3;
    border-radius: 15px;
    padding: 24px;
    margin: 1.1rem;
}

.projects_container_card:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #C3C8DA;
  box-shadow: 0px 4px 7px rgba(62, 62, 62, 0.04), 0px 12px 32px #F3F3F3;
  border-radius: 15px;
  padding: 24px;
  margin: 1.1rem;
}

.projects_container_card:nth-child(3) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #C3C8DA;
  box-shadow: 0px 4px 7px rgba(62, 62, 62, 0.04), 0px 12px 32px #F3F3F3;
  border-radius: 15px;
  padding: 24px;
  margin: 1.1rem;
}

.projects_container_card:nth-child(4) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #C3C8DA;
  box-shadow: 0px 4px 7px rgba(62, 62, 62, 0.04), 0px 12px 32px #F3F3F3;
  border-radius: 15px;
  padding: 24px;
  margin: 1.1rem;
}

.projects_all_link {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.project_link {
  width: 181px;
  height: 42px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  background-color: #7D2020;
  padding: 14px 12px 42px 12px;
  border-radius: 12px;
}

.forecast {
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #7D2020;
  text-transform: uppercase;
}

.forecast_two, .forecast_three, .forecast_four {
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #7D2020;
}

.forecast_block {
  height: 199px;
  margin: 24px 24px;
}

.title_cooperation h2 {
  margin: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #7D2020;
}


.cooperation {
  margin: 10px;
}

.cooperation_container_wrap {
  text-align: center;
}

.title_cooperation h2 {
  margin: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #7D2020;
}

.cooperation_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

@media(max-width: 900px) {
  .cooperation_container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.cooperation__container__first {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 22px;
  justify-content: center;
}
.cooperation__container__first a {
color: #7D2020;
font-weight: 600;
font-size: 20px;
line-height: 140%;
}

.cooperation__container__second {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 22px;
  justify-content: center;
}
.cooperation__container__second a {
color: #7D2020;
font-weight: 600;
font-size: 20px;
line-height: 140%;
}

.title_periodicals {
    margin: 83px 0px 34px 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #7D2020;
}

.periodicals_container_block {
    margin: 0 auto;
    text-align: center;
}

.periodicals_container_card_wrap {
    margin: 0 auto;
}

.title_partners {
    margin-top: 98px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #7D2020;
}

.title_partners_img {
    margin: 0 auto;
}

.title_partners_img img {
    margin: 16px;
}

.footer {
    height: 556px;
    background: #7D2020;
    color: #edeaea;
    padding: 20px;
    margin-top: 30px;
    border-top: 1px solid #ecb6b6;
}


.footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 15rem);
}



